
<!DOCTYPE html>
<meta charset="utf-8">
<title>PlantGen World Map</title>
<style>

path.link {
  fill: none;
  stroke: #666;
  stroke-opacity: .3; 
}
body { 
  color: #666; 
  background: #f3f3f3; 
  font: normal 10px "Helvetica Neue", Helvetica, sans-serif; 
  margin: 2em; 
}
#map1 {
  border:2px solid #000;
  width:960px;
  height:550px;
}
.country {
  fill: #ccc;
  stroke: #fff;
  stroke-width: .1px;
  stroke-linejoin: round;
}

.hidden { 
  display: none; 
}
div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}
.point {
  fill: #000; 
  opacity: 0.5; 
}

</style>
<body ng-app="twitterstuff">
<div ng-controller="twitterselect">

<br><br>
<h4>Filter Fields</h4>
<span id="option" ng-repeat="m in fields">

    <input name="updateButton" 
           type="button" 
           value="{{m[0]}}" 
           ng-click="updateData(m)" />
</span>
<div id="map" style="height:100; width:960"></div>
</div>
<script src="js/d3.v3.min.js"></script>
<script src="js/queue.v1.min.js"></script>
<script src="js/topojson.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/jquery.min.js"></script>
<script>

var termiteTopics = angular.module('twitterstuff', [], function($locationProvider) {
  $locationProvider.html5Mode(true);
});

termiteTopics.controller('twitterselect',['$scope', function($scope){
// The SVG container
var width  = 960,
    height = 480;

var color = d3.scale.category10();

var projection = d3.geo.mercator()
                .translate([480, 300])
                .scale(960);

var path = d3.geo.path()
    .projection(projection);



//$scope.field = 'testauthors'
//$scope.fields = ['authors', 'firstauthor', 'lastauthor', 'speciesCOO', 'funding']

$scope.fields = [['authors', true, 0], ['firstauthor', true, 1], ['lastauthor', true, 2], ['focalspecies', true, 3], ['funding', true, 4]]

d3.select("#map")
  .attr("height", height)
  .attr("width", width)
var tooltip = d3.select("#map").append("div")
    .attr("class", "tooltip");




  d3.select('#map').empty();
  var svg = d3.select("#map").append("svg")
    .attr("width", width)
    .attr("height", height)
    .attr("id", "map1")
    .call(d3.behavior.zoom()
    .on("zoom", redraw))
    .append("g");

  svg.append("svg:defs").selectAll("marker")
    .data(["end"])      // Different link/path types can be defined here
  .enter().append("svg:marker")    // This section adds in the arrows
    .attr("id", String)
    .attr("viewBox", "0 -5 10 10")
    .attr("refX", 15)
    .attr("refY", -1.5)
    .attr("markerWidth", 1)
    .attr("markerHeight", 1)
    .attr("orient", "auto")
  .append("svg:path")
    .attr("d", "M0,-5L10,0L0,5")
    .style('fill', 'orange');

 /* svg.append('text')
    .attr('x', width/2 - 30)
    .attr('y', 20)
    .style('font-size', '20px')
    .text(field)*/

    function redraw() {
    svg.attr("transform", function(){ return "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")"});
}
 /*   function redraw() {
    svg.attr("transform", function(){ return "translate(" + d3.event.translate + ")scale(" + Math.max(d3.event.scale, .63) + ")"});
}*/

queue()
    .defer(d3.json, "data/world-50m.json")
    .defer(d3.tsv, "data/world-country-names.tsv")
    .defer(d3.json, "focalspecies.json")
    .defer(d3.json, "authors.json")
    .defer(d3.json, "lastauthor.json")
    .defer(d3.json, "funding.json")
    .defer(d3.json, "firstauthor.json")
    .await(ready);

function ready(error, world, names, focalspecies,authors, lastauthor, funding, firstauthor) {


  var countries = topojson.object(world, world.objects.countries).geometries,
      neighbors = topojson.neighbors(world, countries),
      i = -1,
      n = countries.length;

  countries.forEach(function(d) { 
    var tryit = names.filter(function(n) { return d.id == n.id; })[0];
    if (typeof tryit === "undefined"){
      d.name = "Undefined";
      console.log(d);
    } else {
      d.name = tryit.name; 
    }
  });

var country = svg.selectAll(".country").data(countries);

  country
   .enter()
    .insert("path")
    .attr("class", "country")    
      .attr("title", function(d,i) { return d.name; })
      .attr("d", path)
      //.style("fill", function(d, i) { return color(d.color = d3.max(neighbors[i], function(n) { return countries[n].color; }) + 1 | 0); });
      .style('fill', 'white')
      .style('opacity', .3)
      .style('stroke', 'black')
      .style('stroke-width', 1)

    //Show/hide tooltip
    country
      .on("mousemove", function(d,i) {
        var mouse = d3.mouse(svg.node()).map( function(d) { return parseInt(d); } );

        tooltip
          .classed("hidden", false)
          .attr("style", "left:"+(mouse[0]+25)+"px;top:"+mouse[1]+"px")
          .html(d.name)
      })
      .on("mouseout",  function(d,i) {
        tooltip.classed("hidden", true)
      });





//console.log(points[1].links)
var fieldstrings = ['focalspecies', 'authors', 'firstauthor', 'lastauthor', 'funding']
 var fields = [focalspecies, authors, firstauthor, lastauthor, funding];
 //var fields = [lastauthor, firstauthor];
 var colors = [ 'grey', 'green', 'red', 'blue', 'white']
for (var i = 0; i < fields.length; i++){

field = fields[i]
color = colors[i]
var links = field[1].links

links.forEach(function(link){
  if (link.source == -1 || link.target == -1){
    link.source = 1;
    link.target = 1;
  }
  link.source = field[0].cities[link.source];
  link.target = field[0].cities[link.target]

})

var path2 = svg.append("svg:g").selectAll("path")
    .data(links)
  .enter().append("svg:path")
//    .attr("class", function(d) { return "link " + d.type; })
    .attr("class", "link " + fieldstrings[i])
    .attr('stroke-width', function(d){
      if (i == 0){
        return .1
      }
      return d.value / 6
    })
    .attr('stroke', color)
   // .attr('class', field)
   // .attr("marker-end", "url(#end)");


//console.log(links)

field[0].cities.forEach(function(d) { 
      var x = projection(d.geometry.coordinates)[0];
      var y = projection(d.geometry.coordinates)[1];
      var r = d.score

      var circles = svg.append("svg:circle")
          .attr("class", 'point ' + fieldstrings[i])
          .attr("cx", x)
          .attr("cy", y)
          .attr("r",  function(d) {
            if ( i == 0){
              return Math.sqrt(r/Math.PI) / 3
            }
            return Math.sqrt(r/Math.PI) 
           })
          .style("fill", color)
          .style("fill-opacity", .8)



      var name = d.properties.name;

       svg.append("svg:text")
          .attr("x", x+4)
          .attr("y", y+1)
          .text();

        circles.on("mousemove", function(d,i) {
        var mouse = d3.mouse(svg.node()).map( function(d) { return parseInt(d); } );

        tooltip
          .classed("hidden", false)
          .attr("style", "left:"+(mouse[0]+25)+"px;top:"+mouse[1]+"px")
          .html(name + ' ' + r)
      })
      .on("mouseout",  function(d,i) {
        tooltip.classed("hidden", true)
      });

  /*    svg.append("svg:circle")
        .attr("class", "centerpoint")
        .attr("cx", x)
        .attr("cy", y)
        .attr("r", 1)
        .style("fill", "red")*/



  });

path2.attr("d", function(d) {
        var source = projection(d.source.geometry.coordinates)
        var target = projection(d.target.geometry.coordinates)
        var dx = target[0]- source[0],
            dy = target[1] - source[1],
            dr = Math.sqrt(dx * dx + dy * dy);
        return "M" + 
            source[0] + "," + 
            source[1]+ "A" + 
            dr / (1 + (i/10)) + "," + dr + " 0 0,1 " + 
            target[0] + "," + 
            target[1];
    })
    .style('stroke', color)
    .style('stroke-opacity', .2)


path2.on("mousemove", function(d,i) {
        var mouse = d3.mouse(svg.node()).map( function(d) { return parseInt(d); } );

        tooltip
          .classed("hidden", false)
          .attr("style", "left:"+(mouse[0]+25)+"px;top:"+mouse[1]+"px")
          .html(d.source.properties.name + ' => ' + d.target.properties.name + '\n' + d.value)
      })
      .on("mouseout",  function(d,i) {
        tooltip.classed("hidden", true)
      });

}


$scope.updateData = function(thing){
  console.log($scope.fields[thing[2]])
  if (thing[1]){
    thing[1] = false
    $scope.fields[thing[2]][1] = false
  }
  else {
    thing[1] = true
    $scope.fields[thing[2]][1] = true
  }
  var change = svg.selectAll("." + thing[0]).transition()
  //var change = svg.selectAll('#map1').transition()

  change
      .duration(750)
      .attr('display', function(d){
      if (thing[1]){
        return ''
      }
      else {
        return 'none'
      }
    });
}



}

//$scope.fields.forEach(function(d){
//})

}])
</script>